#abilities {
    float: left;
    width: 30%;
    margin: 10% 2.5%;
}

#computerskills {
    float: left;
    width: 30%;
    margin: 10% 2.5%;
}

#employment {
    float: left;
    width: 30%;
    margin: 10% 2.5%;
}
