/*#container {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    width: 90%;
}

#abilities {
    float: left;
    width: 30%;
    /*margin: 1% 2%;
}

#computerskills {
    float: left;
    width: 30%;
    /*margin: 1% 2%;
}

#employment {
    float: left;
    width: 30%;
    /*margin: 1% 2%;
}*/
