#technologies {
    padding: 5vmin;
    width: 90vmin;
    height: 180vmin;
}

#technologies div img {
    height: 100%;
    width: 100%;
}

#c {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 0;
    left: 0;
}

#cpp {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 0;
    left: 30vmin;
}

#java {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 0;
    left: 60vmin;
}

#vim {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 30vmin;
    left: 0;
}

#git {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 30vmin;
    left: 30vmin;
}

#bash {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 30vmin;
    left: 60vmin;
}

#htmljscss {
    position: relative;
    width: 90vmin;
    height: 30vmin;
    top: 60vmin;
    left: 0;
}

#nodejs {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 90vmin;
    left: 0;
}

#python {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 90vmin;
    left: 30vmin;
}

#android {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 90vmin;
    left: 60vmin;
}

#net {
    position: relative;
    width: 90vmin;
    height: 30vmin;
    top: 120vmin;
    left: 0vmin;
}

#haskell {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 150vmin;
    left: 0vmin;
}

#asm {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 150vmin;
    left: 30vmin;
}

#eclipse {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    top: 150vmin;
    left: 60vmin;
}

