#languages {
    margin: 50px 0px 0px 0px;
    position: relative;
    width: 0px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#languages h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}

#c {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-50%);
    background-image: url("/img/c.png");
}

#cpp {
    position: absolute;
    left: 110px;
    top: 0px;
    transform: translateX(-50%);
    background-image: url("/img/cpp.png");
}

#java {
    position: absolute;
    left: 220px;
    top: 0px;
    transform: translateX(-50%);
    background-image: url("/img/java.png");
}

#net {
    position: absolute;
    left: -110px;
    top: 0px;
    transform: translateX(-50%);
    background-image: url("/img/net.png");
}

#sql {
    position: absolute;
    left: -220px;
    top: 0px;
    transform: translateX(-50%);
    background-image: url("/img/sql.png");
}

#html {
    position: absolute;
    left: 55px;
    top: 95px;
    transform: translateX(-50%);
    background-image: url("/img/html.png");
}

#js {
    position: absolute;
    left: 165px;
    top: 95px;
    transform: translateX(-50%);
    background-image: url("/img/js.png");
}

#css {
    position: absolute;
    left: -55px;
    top: 95px;
    transform: translateX(-50%);
    background-image: url("/img/css.png");
}

#nodejs {
    position: absolute;
    left: -165px;
    top: 95px;
    transform: translateX(-50%);
    background-image: url("/img/nodejs.png");
}

#python {
    position: absolute;
    left: 0px;
    top: 190px;
    transform: translateX(-50%);
    background-image: url("/img/python.png");
}

#haskell {
    position: absolute;
    left: 110px;
    top: 190px;
    transform: translateX(-50%);
    background-image: url("/img/haskell.png");
}

#android {
    position: absolute;
    left: 220px;
    top: 190px;
    transform: translateX(-50%);
    background-image: url("/img/android.png");
}

#ada {
    position: absolute;
    left: -110px;
    top: 190px;
    transform: translateX(-50%);
    background-image: url("/img/ada.png");
}

#asm {
    position: absolute;
    left: -220px;
    top: 190px;
    transform: translateX(-50%);
    background-image: url("/img/asm.png");
}

#vim {
    position: absolute;
    left: 55px;
    top: 285px;
    transform: translateX(-50%);
    background-image: url("/img/vim.png");
}

#git {
    position: absolute;
    left: 165px;
    top: 285px;
    transform: translateX(-50%);
    background-image: url("/img/git.png");
}

#gnu {
    position: absolute;
    left: -55px;
    top: 285px;
    transform: translateX(-50%);
    background-image: url("/img/gnu.png");
}

#tex {
    position: absolute;
    left: -165px;
    top: 285px;
    transform: translateX(-50%);
    background-image: url("/img/tex.png");
}


.ctop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.cbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.cpptop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.cppbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.javatop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.javabot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.nettop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.netbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.sqltop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.sqlbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.htmltop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.htmlbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.jstop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.jsbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.csstop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.cssbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.nodejstop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.nodejsbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.pythontop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.pythonbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.haskelltop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.haskellbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.androidtop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.androidbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.adatop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.adabot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.asmtop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.asmbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.vimtop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.vimbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.gittop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.gitbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.gnutop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.gnubot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

.textop {
    font: 6px Monaco, MonoSpace;
    color: black;
}
.texbot {
    font: 6px Monaco, MonoSpace;
    color: black;
}

